doctype html
head
   title= Load spreadsheet
body
   h1= HEA Analysis Spreadsheet loader
   p(id="lblInputBox")= Enter the path and file name of your spreadsheet here:
   p= (input(type="text" id="txtPathToFile" placeholder="/path/to/file/" size="60") input(type="file" id="btnChooseFile" accept=".xlsx,.xls"))
   p= input(type="button" id="btnUploadFile" value="Upload")
