extends layout 

body
   block content
      div#wrapper
         h1(align='center')=subtitle
      div#assess(for='assessLz')
         form#assessLz(class='fill' method='post' action='/assessment' enctype='multipart/form-data')
         label#labelCountries(for='countries') Which country?
         select#countries(class='inputButton')
            option(value='none') Select your country...
            option(value='bw') Botswana
            option(value='na') Namibia
            option(value='za') South Africa
         br
         label#labelDate(for='date') When was the assessment?
         input#date(type='date' class='inputButton')
         br
         input#continue(type='submit' class='inputButton' value='Continue...' hidden=!hide enable=!hide)
      div#identify(for='identifyLz' hidden=hide)
         form#identifyLz(class='fill' method='get' action='/search' enctype='multipart/form-data')
            label#labelSearchLz(for='searchLz') Which livelihood zone does this spreadsheet apply to?
            input#searchBox(type='search' class='inputText' size='70' placeholder='Type the name, abbreviation or code of your livelihood zone here')
            br
            input#search(type='submit' class='inputButton' value='Search' hidden=hide disable=hide)
      div#confirm(for='confirmLz' hidden=hide)
         form#confirmLz(class='fill' method='post' action='/uploads'   enctype='multipart/form-data')
            label#lzName_label(for='lzName') Livelihood zone's full name:
            input#lzName(type='text' class='inputText' size='80')
            br
            label#lzCode_label(for='lzCode') Livelihood zone's 5-digit or 6-digit numerical code:
            input#lzCode(type='text' class='inputText' size=6)
            br
            label#lzAbbrev_label(for='lzAbbrev') Livelihood zone's 5-digit alphanumeric abbreviation:
            input#lzAbbrev(type='text' class='inputText' size=6)
            br
            input#use(type='submit' class='inputButton' value='Confirm' hidden=hide disable=hide)
