extends layout 

body
   block content
      div#wrapper
         h1(align='center')=subtitle
         footer(align='center')
            a(href='/uploads')
               img#scrollDown(src='images/arrowhead-down-256.png' alt='Scroll down')
      div#assess(for='assessLz')
         form#assessLz(class='fill' method='post' action='/assessment' enctype='multipart/form-data')
            label#labelCountries(for='countries') Which country?
            select#countries(class='inputButton')
               option(value='none') Select your country...
               option(value='bw') Botswana
               option(value='na') Namibia
               option(value='za') South Africa
            br
            label#labelDate(for='date') When was the assessment?
            input#date(type='month' class='inputButton')
            br
            label#labelHazardGeo(for='hazardGeo')
            input#continue(type='submit' class='inputButton' value='Continue...' hidden=!hide enable=!hide)
      div#fileUpload(for='fileUpload' hidden=hide)
         form#fileUploadLz(class='fill' method='post' action='/uploads/upload' enctype='multipart/form-data')     
         label#labelChooseFile(for='buttonChooseFile') Browse for the folder or spreadsheet file:
         input#buttonChooseFile(type='file' class='inputButton' name='myFiles' accept='.xlsx,.xls' multiple)
         br
         input#submit(type='submit' class='inputButton' value='Upload' hidden=hide disabled=hide)
         br
         input#use(type='submit' class='inputButton' value='Confirm' hidden=hide disable=hide)
